img {
    max-width:250px;
}

h1 {
    color: blueviolet;
    background-image: -moz-linear-gradient();
    
}

li {outline-color: cornflowerblue;
    background-color: darkgreen;

}
h3 
{ 
    background-color: darkviolet;
    color: rgb(105, 105, 105);
}
