body {
  background-color: powderblue;
}
h1 {
  width: 1200px;
  color: rgb(102, 7, 82);
  font-weight: bold;
  text-align: centre;
}
h2{
  width: 1200px;
  color:rgb(102, 7, 82);
  text-decoration: underline;
 
}


.daily_update {
  color:rgb(68, 18, 109);
  width: 1200px;
  border: 3px solid rgb(230, 176, 226);
  padding: 10px;
  margin: 5px;
  position: relative;
}

im

img{

  float: right;
  max-width: 400px;
}

.img1{

 float: left;
  width: 500px;
  color:rgb(68, 18, 109);
  padding: 2px;
  margin: 2px;
  border:5px solid rgb(6, 133, 84);

}
.img2{
  width: 500px;
  color:rgb(68, 18, 109);
  padding: 2px;
  margin: 2px;
  border:5px solid rgb(6, 133, 84);

}

/*
.img2{

  position: relative;
  left: 500px;
  width: auto;
  color: rgb(68, 18, 109);
  padding: 2px;
  margin: 2px;
}*/

  
  figcaption1 {
    position:absolute;
    margin:2px;
    background:rgb(175, 26, 96);
    border:5px solid rgb(6, 133, 84);
    top:100px;
    left:10px;
    padding:5px;
}

figcaption2 {
    position:absolute;
    margin:2px;
    background:rgb(175, 26, 96);
    border:5px solid rgb(6, 133, 84);
    top:320px;
    left:100px;
    padding:5px;
}

figure2 {
  position: relative;
  width: 200px;
  }

  figcaption3 {
    position:absolute;
    margin:2px;
    background:rgb(175, 26, 96);
    border:5px solid rgb(6, 133, 84);
    top:-50px;
    left:10px;
    padding:5px;
}

figure3 {

  position: relative;
  width: 200px;
  }

  figcaption4 {
    position:absolute;
    margin:px;
    background:rgb(175, 26, 96);
    border:5px solid rgb(6, 133, 84);
    top:-50px;
    left:10px;
    padding:5px;
}
img{max-width: 400px;}
