body {
  background-color: powderblue;
}
h1 {
  color: blue;
}
h2{
  color:rgb(150, 13, 36)
 
}
p {
  color: rgb(68, 18, 109);
  
  
}
div{
  color: rgb(68, 18, 109);
  width: 200px
  border: 5px solid rgb(230, 176, 226);
  padding: 50px
  margin: 15px
}

figure {
  float: right;
  width: 30%;
  text-align: center;
  font-style: italic;
  font-size: smaller;
  text-indent: 0;
  border: thin silver solid;
  margin: 0.5em;
  padding: 0.5em;
}
img{max-width: 400px;}